table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    text-align: center;
    background-color: grey;
    padding: 10px;
  }
  td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }