table {
    border-collapse: collapse;
    
  }
  
  th{
    text-align: center;
    background-color: grey;
   
  }
  td {
    text-align: center;
    
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
